@media screen and (max-width: 768px){

	body{
		background-image: none;
		background-color: black;
	}

	.wrapper{
		width: 100%;
		height: 100%;	
	}

	.sign_up, .log_in{
		border-radius: 0px;
		width: 100%;
	}

	h3{
		font-size: 7vw;
	}

	form{
		font-size: 5vw;
	}

	input.input{
		font-size: 4vw;
  		width: 70%;
  		height: 10vw;
	}

	.sign_up_btn, .log_in_btn{
		width: 70%;
		height: auto;
		margin-bottom: 8%;
	}

	.sign_up_btn a, .log_in_btn a{
		height: 20vw;
		font-size: 8vw;
		border-bottom: 1.5vw solid #777878;
	}

	.sign_up_btn a:active, .log_in_btn a:active{
	transition: 0.1s all;
	transform: translate(0, 1.5vw);
	border-bottom: 0px;
}

	.select_option{
		margin-bottom: 7%;
	}

	.select_option select{
		width: 20%;
		height: 7vw;
		font-size: 5vw;
	}

	.radio label input{
		margin-top: 7%;
		margin-bottom: 7%;
	}
}